<div *ngIf="!isLoggedIn()">
    <table>
        <tr>
            <td><button (click)="googleLogin()">GOOGLE LOGIN</button></td>
            <td><button (click)="faceBookLogin()">FACEBOOK LOGIN</button></td>
            <td><button (click)="microsoftLogin()">MICROSOFT LOGIN</button></td>
        </tr>
    </table>
    Please login with any provider.
</div>
<div *ngIf="isLoggedIn()">
    Your are logged in. Welcome {{user.firstName}}! Your are logged in with {{user.provider}}.
    <button (click)="logout()">LOGOUT</button>
</div>