<div *ngIf="!isLoggedIn()">
    Please login with any provider.
    <table>
        <tr>
            <td><button (click)="googleLogin()"> <img src="../assets/google_icon.png"> SIGN IN</button></td>
            <td><button (click)="faceBookLogin()"> <img src="../assets/facebook_icon.png"> SIGN IN</button></td>
            <td><button (click)="microsoftLogin()"> <img src="../assets/microsoft_icon.png"> SIGN IN</button></td>
        </tr>
    </table>
</div>
<div *ngIf="isLoggedIn()">
    Your are logged in. Welcome {{user.firstName}}! Your are signed in with {{user.provider}}.
    <button (click)="logout()">SIGN OUT</button>
</div>